{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ title }}{% endblock %}

{% block theme %}{{ title }}{% endblock %}

{% block content %}<br><br><br>
    {% for post in posts %}
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title">{{ post }}</h3>
            <h6 class="card-text text-muted">{{ post.subtitle }}</h6><hr>
              <p class="card-text text-muted">{{ post.body|truncatewords:60 }}</p>
          </div>
          <div class="card-footer text-muted">
            <a href="{{ post.get_absolute_url }}" class="btn btn-outline-dark" style="width: 79rem;">Read</a>
          </div>
        </div><br><br>
    {% endfor %}
{% endblock %}