{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ title }}{% endblock %}

{% block theme %}{{ title }}{% endblock %}

{% block content %}<br><br><br>
    {% for post in posts %}
        <div class="card shadow">
          <div class="card-body">
            <h3 class="card-title">{{ post }}</h3>
            <h6 class="card-text text-muted">{{ post.subtitle }}</h6><hr>
              <p class="card-text text-muted">{{ post.body|truncatewords:60 }}</p>
          </div>
          <div class="card-footer text-muted">
            <a href="{{ post.get_absolute_url }}" class="btn btn-outline-dark" style="width: 79rem;">Read</a>
          </div>
        </div><br><br>
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <nav style="text-align: center">
        <ul class="pagination pagination-lg">
            {% for p in paginator.page_range %}
                {% if page_obj.number == p %}
                    <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
    {% endif %}
{% endblock %}